{% extends "base" %}
{% block title %}Luke Newcomb{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block page_content %}
{% endblock page_content %}
My site
{% block nav_items %}
{% endblock nav_items %}